@model CMS.ViewModels.PCMemberViewModels.IndexPCMemberViewModel



@{
    ViewBag.Title = "Member Page";
}

<head>
    <style>
        .upper {
            display: flex;
            flex-direction: row;
        }

        .upper h2 {
            flex: 0.01 0 auto;
        }
    </style>
</head>

<body>
    <div class="upper">
      <h2> Welcome, </h2>
      <h2> @Model.Username </h2>
       
    </div>

    <hr style="border: 2px solid black;"/> 

    <input type="button" value="Conferences" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","conferences") + "/Index/" + @Model.ID + "'");" />

    <input type="button" value="Comitees" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","comitees") + "'");" />

    <input type="button" value="Reviews" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","reviews") + "'");" />

</body>
