@model CMS.ViewModels.ComiteeViewModels.DeleteComiteeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comitee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comitee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comitee.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Comitees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="hidden" name="comitee" value="@Model.comitee" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
